/*
.............★
............’**`
..........’♥**♥`
.........*•*♥*•*
(\ /)..♥•**•**•♥
( . .) ...._||_
C('')('')..\__/.С_Новым_Годом!!! Уважаемый и дорогой наш код-ревьюер, 
поздравляю с новым годом. И хочу пожелать чтобы работа была только в 
радость, богатства, достатка и ну денег, а денег побольше.
    С теплотой и огромным уважением, ваш ученик Шпорт Роман. 
*/

.header {
    font-size: 18px;
    font-weight: 400;
    padding: 92px 50px 96px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-menu {
    width: 30%;
}

.header__links-list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
}

.header__links-list-item {
    list-style: circle;
    border-bottom: #000;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    place-content: flex-end;
    width: 30%;
}

.address {
    display: grid;
    line-height: 135%;
    font-style: normal;
    text-underline-position: under;
}

.cover {
    background: url(../images/cover.jpg);
    background-size: cover;
    background-position-y: center;
    min-height: 757px;
    margin-bottom: 175px;
}

.cover__title {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    margin-bottom: 130px;
    padding: 153px 50px 0 50px;
}

.aligned-text {
    display: block;
    margin-top: 20px;
    line-height: 1;
}

.aligned-text_center {
   text-align: center;
}

.aligned-text_right {
   text-align: end;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    color: #fff;
    display: flex;
    gap: 83px;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0 50px 60px 0;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 115%;
    word-spacing: 17.5px;
    text-transform: uppercase;
}

.bet-button {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background: none;
    border: 1px solid currentColor;
    border-radius: 0;
    color: #fff;
    padding: 12px 32px;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.lots {
    padding: 0px 50px 0 50px;
    margin-bottom: 178px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    list-style: none;
    margin-bottom: 32px;
}

.lots__card-list-item {
    display: grid;
    justify-content: start;
    flex-grow: 1;
}

.card-link {
    text-decoration: none;
}

.card {
    color: #fff;
    width: 430px;
    min-height: 450px;
    background-position: center;
    position: relative;
    background-size: cover;
}

.card .overlay {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 430px;
    min-height: 450px;
}

.card__title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    padding: 0 50px 0px 50px;
    justify-items: center;
    margin-bottom: 180px;
}

.about__column:last-child {
    margin-top: 103px;
  }

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    padding: 63px 46px;
}

.about__logo-image {
    width: 148px; 
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
}

.footer {
    font-size: 18px;
    font-weight: 400;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 90px;
}

.footer__address {
    grid-column: 1/2;
}

.footer__menu {
    grid-column: 2/3;
}

.footer__menu-list {
    display: grid;
    justify-content: space-evenly;
    align-items: baseline;
    justify-items: center;
}

.footer__links-list-item {
    list-style: none;
}

.footer__social-list {
    list-style: none;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
}

.footer__link {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
}